<div class="header-bar font-white facebook-color">
 <%= image_tag  "fb-logo.png", class: 'img-fb' %>
</div>
<div class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 form text-center">
        <%= image_tag  "sujeto.jpg", class: 'text-center img-profile' %>
        <div class="login-as">
          Iniciar sesion como Elvis M Mieles
        </div>
        <div class="form-group">
          <input type="text" placeholder="Correo electronico" class="input-form">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Contraseña" class="input-form">
        </div>
        <div class="from-group">
          <button type="submit" class="btn-fb">Iniciar sesión</button>
        </div>
        <div id="login_link"><div class="_1rf5"><span class="_1rf8">o</span></div><div class="_xkt"><a class="_42ft _4jy0 _4jy6 _4jy2 selected _51sy" role="button" href="/r.php?locale=es_LA&amp;display=page" style="font-size: 14px">Crear una cuenta nueva</a></div><div class="_xkt"><a href="https://www.facebook.com/recover/initiate?lwv=100" id="forgot-password-link" target="">¿Olvidaste tu cuenta?</a></div></div>
      </div>
    </div>
  </div>
</div>